{% extends 'clothessite/base.html' %}
{%load static%}
{%block body_block%}

<div class="contact">
<div class="container">
  <br><br><br><br>
<h1 id="con" align="center">Contact Us</h1>
<div>
<br>
<br>
<h6 align="center">Shop at Nandana's</h6>
<h6 align="center">Siddhivinayak CHS, Indira nagar</h6>
<h6 align="center">Jogeshwari (east), 400060</h6>
<h6 align="center">Mumbai, Maharashtra India</h6>
<br>
<h6 id="mobno">Mobile No-7355104033</h6>
<h6 ><a href="mailtohttps://chat.whatsapp.com/BmfdyxslM1gGQ57lE5q23q">If any query put it directly on our whatsapp group</a></h6>
<br><h6 align="center">Mon - Fri 10am - 4:30pm</h6>
<h6 align="center"> Sat 10am - 3pm </h6>
<h6 align="center"> Sun CLOSED </h6>
</div>
<br>
<br>
<div>
<p>If you have a query regarding an element of our website whether it be about processing or an aspect of your order,<br> our in-store team would love to assist you.<br> Don't hesitate to contact us on the following email, or call the store between our working hours.<br> We also channel feedback through our Facebook Page and Instagram. We will aim to reply to your query within 24 working hours. <br>For all the product and order enquiries please email:</br><div>
<p align="center"><a href="mailto:durgeshc1402@gmail.com">durgeshc1402@gmail.com</a></p></div>To all designers and the shops wishing to contact the store with wholesale enquiries,please contact Nandna Chaubey. <br>If we feel as though your brand would fit within our portfolio, we will get in touch!</p>
</div>
<div>
  <p>For all retailers, media and press wishing to express interest in your feedback to do with your<br>physical and online shopping experience and our service. You can forward</br>your comments to the supplied emails or find us on Facebook!</br>
  Thank you so much for supporting our local, as well as india's own designers and retailers</p>
<br>

</div>
<h1 align="center">Thank you </h1>


</div>
</div>

{%endblock%}
