<!DOCTYPE html>
{% extends "clothessite/base.html"%}
{% load static %}
{%block body_block%}
</br>
</br>
</br>
</br>
<div id="kryesore">
<div class="container">
  <div class="first_p">durnil parthlokhande
    </br></br></br></br>
  <img id="image3" src=https://logos.textgiraffe.com/logos/logo-name/18880965-designstyle-errors-l.png alt="image3" align="left"></img>
  <h1 id="header1" align="center">Shop at Nandana's</h1>
  <u><p align="center">Walk in for the Fashion, Stay in for the Style</p></u>
  <h3> "In this  facineting era we are intended to dress up you with the latest qualities of clothes at the very affordable price for you."  </h3><br><br>
</div>
</div>
</div>
</br>
{% endblock %}
