{% extends 'clothessite/base.html' %}
{%load static%}
{%block body_block%}

<div class="locationp">
  <br><br><br><br>
  <div class="container">
<p id="heads" align="center">Store Location</p>
<br>
<p align="center">Located in the boutique Jogeshawari east, Sans has become a destination for quality, chic <br>  fashion and offers a stunning mix of luxe lifestyle and fashion pieces focused on ethical,  <br> Indian  design. Filling the gap for local and wide spread style-seekers, Sans is the go-to boutique   <br>in the Mumbai.</p>
<br><img align="center" src="{%static 'C:\Users\Lucky\Desktop\django_stuff\nandanapro\static\clothessite\images\image4.jpg'%}" weidth= "400px"></img>
<div>
<br>
<p align="center">Shop at Nandana's<br>Siddhivinayak CHS, Indira nagar<br>Jogeshwari (east), 400060</br>Mumbai, Maharashtra India</p>
<p align="center" id="mobno">Mobile No-7355104033</p>
<p align="center" ><a href="mailtohttps://chat.whatsapp.com/BmfdyxslM1gGQ57lE5q23q">If any query put it directly on our whatsapp group</a><br>
  <a href="mailto:durgeshc1402@gmail.com">durgeshc1402@gmail.com</a></p>
<p align="center">Mon - Fri 10am - 4:30pm<br>Sat 10am - 3pm </p> <p align="center" font-size="50px">SUN CLOSED </p>
</div>
</div>
</div>
{% endblock %}
