{% extends 'clothessite/base.html'%}
{% load static %}
{% block body_block%}
<div class="privacynp">
  <div class="container">
    <br><br><br><br>
<p id="headp">Privacy Policy</p><br><br>
<p id="normp">Sans Designer Boutique want to assure you that the details you provide are 100% confidential <br> and will not be passed on to any dodgy spam set-up or third party.  <br>Your information will be kept secure and private at all times and  we do not keep records of your credit <br> card information.  We respect your privacy and use your information to ensure a smooth transaction from  purchase through to delivery.<br>

 <br> The details you provide us are used to enhance your experience with Sans and keep you up to date with the latest up and coming events, promotions and releases. You can disable this option at any time by tapping the 'unsubscribe' link at the bottom of our emails, although we do love having you.</p>
<br>
<p id="headp">COPYRIGHT</p><br>
<p id="normp">Within our Sans store, our distinct difference lies with our self-designed clothing label My Boyfriends Back, which is solely designed by Sans's owner and director Dani Burkhart. All My Boyfriends Back product is India made and all photography and marketing content is created by Dani and her team of creatives.  Sans and My Boyfriends Back would like to state that all images, text and imagery featured on our website belong to us (My Boyfriends Back) as intellectual property. Unauthorised permission to copy content from our site may result in legal action. If you wish to copy material represented on our site, please contact Sans or My Boyfriends Back first, to obtain permission. Many thanks.  </p>
<br>
<br>
<img align="center" src="{%static 'C:\Users\Lucky\Desktop\django_stuff\nandanapro\static\clothessite\images\image6.jpg'%}" weidth= "400px"></img>
<br><br>
<p id="headp">PAYMENT</p><br>
<p id="normp">Due to exchange rate fluctuations, the actual price that will be charged to your credit card may slightly differ to the price listed on the website. Our garment prices are shown in rupee inclusive of GST and your purchase will be charged in rupee. According to the exchange rate on the day the order was processed, the amount charged will convert accordingly. </p><br>
<p id="headp">TAXES</p><br>
<p id="normp">Sans Designer Boutique is NOT responsible for any charges that may incur during transit. Please be aware that every country has individual custom laws and policies, any extra costs are out of our control and cannot be foreseen. Contact the nearest customs office should you need any help.</p><br>
  </div>

</div>
{% endblock%}
