{% extends 'clothessite/base.html'%}
{% load static%}
{% block body_block%}
<div class="returnnp">
  <div class="container">
    <br><br><br><br>
    <p id="headp">Returns</p><br><br>
    <p id="one">RETURNING AN ITEM BOUGHT ONLINE</p>
    <p id="normp">Worried an item you bought online won’t be right? Don’t stress, we want to make it easy!  <br>Follow the conditions below and you can return your item to us for an exchange or refund.</p>
<br><div class="ulslist">
<ul>
  <li>Email us at durgeshc1402@gmail.com or call us on +91 7355104033 to notify us that you’re returning something.</li>
<br><li>You must return the item within 3 working days ( If you are  in local ) and 5-7 days (Other cities) from receiving it. We recommend tracking your return so there’s no risk of it going missing. We won't be able to process your return if we don't receive it.</li>
<br><li>You know the drill- all tags attached, include your receipt and contact details, and the item must be in brand new, unworn condition.</li>
<br><li>If a refund is issued, you will be refunded via your original payment method-  or to a nominated bank account once your return is approved.</li>
<br><li>The shipping aspects of your order are non-refunable. Return courier fees are also at the expense of the customer.</li>
<br><li>Due to hygiene reasons we cannot accept returns for change of mind on jewellery, lingerie or eyewear- these terms are also forwarded to us by the supplier and we are unable to return these items to them unless faulty.</li>
<br><li>Sale items are not eligible for return, all sale transactions are final and cannot be accepted.</li> <br>
<p id="one">RETURN POLICY INSTORE</p>
<p id="normp">At Hebe we love to offer fuss-free returns. If you’re shopping with us instore please note the below:</p>
<br><li>Bring your purchase back to the store with your receipt and tags attached as soon as possible. We cannot accept returns post 7days of purchase.</li>
<br><li>If you’ve had the opportunity to select and try your purchase on in-store, we will offer an exchange or credit note for the change of mind. This is in accordance with the CGA (1993).</li>
<br><li>f you're wanting to return a gift, we would've printed a gift receipt at the time of purchase. We will always refund the purchase should it not be suitable, even if the return ends up outside of our 7 day policy (e.g Christmas).</li>
<br><li>We cannot accept returns on Sale items.</li>
<br><li>If you encounter a fault (we don’t find this often) we will do everything possible to arrange a repair, replacement or refund. Simply contact us and we will send it back to the supplier for reviewal on your behalf. The manufacturer with then indicate a replacement or credit.</li>
<br>
<p id="one">ASK US FOR HELP IF YOU NEED IT. x</p><br>
<p id="normp">If you have a query regarding the size of a garment, contact us so we can assist you with your decision. Our staff are able to take measurements, photos or try on for you if you require- we want you to love your purchase!

 </p>
</ul>
</div>

  </div>

</div>
{% endblock %}
