cd {% extends 'clothessite/base.html'%}
{% load static %}
{%block body_block%}
<div class="shippingnp">
  <br><br><br><br><br>
  <div class="container">
    <p id="ship" align="center" id="heads">Shipping</p>
    <br>
    <p id="two" align="center"><strong>Hey Sis! Check out our shipping info below for more detail on how we can  deliver the  <br>goods!</strong></p><br>
    <p id="two" align="center"><strong>CLICK & COLLECT</strong></p><br>
   <div class="ullist">
<ul>
  <li>For all online orders we offer the option to ‘pick up instore’ which means you can whip in and pick up your parcel. Your purchase will be packaged up, ready to go!</li><br>
  <li>If you’re not able to get out of the house but are local (surrounding area of Jogeshwari ), we are happy to deliver your item to your door. There is a charge of just 50 and delivery takes place after shop hours (5pm-7pm). Delivery applies to Andheri and near areas.</li>
<br><br>
<img align="center" src="{%static 'C:\Users\Lucky\Desktop\django_stuff\nandanapro\static\clothessite\images\image5.jpg'%}" weidth= "400px"></img>
<br><br><p id="cost">SHIPPING COSTS</p>
<li>Sans is aligned with GoSweetSpot who ensure you get the safest, most efficient shipping possible including Saturday and overnight delivery. The majority of couriers we use deliver overnight nationwide, yay!</li>
<br><li>All customers with an online transaction total over 750 get FREE shipping!</li><br>
<li>We charge a flat rate of 50 per package (based on mean calculations) for any purchase of clothing- this is regardless of whether it is overnight, Saturday or rural. FYI rural parcels can be up to 230 to send to the other cities, so our aim is to help you out with shipping costs as much as possible.</li>
<br><li>Our standard is that you receive prompt, express delivery with live tracking. If this is ever not the case, please get in touch with us. Your shopping experience is very important to us! Also, the couriers work their bums off and are great guys- so lets see what we can sort for you.</li><br>
<br><li>A charge of 250 applies for any purchase of jewellery or an accessory (sunglasses, watches etc.)</li><br>
<li>Please guys, select the correct shipping at checkout. If you select 'pick up instore' and you really want it couriered instead, we will give you a tinkle to say that the charge is 280. As we support ethical, India designed brands and use local couriers, this is simply the cost of shipping. Thanks for your understanding on this.</li>
<br><li>Please provide a satisfactory physical address as it is preferable to a PO Box, although we can send to a PO Box if need be.</li><br><li>The only time you may experience a delay is during Public Holidays or if there is an unexpected interruption due to weather or a break down. Communication with each courier service via GoSweetSpot is thorough and easy, you will have a live track of your parcel at all times. Otherwise, contact us and we can follow this up for you.</li><br>
<li>If you are returning an item to us for a refund, your shipping fees are non-refundable. The cost to return the item to the store is also at the customers expense.</li><br>
<li>If you are returning an item to us for an exchange, we will send your replacement free of charge.</li><br>
<strong>Shipping to out of Mumbai  </strong>250 shipping fee applies. You can expect your parcel in 2-3 working days (excluding Public Holidays) providing that it doesn’t get stopped in customs. We are unable to offer tracking international freight at this time unless arranged alternatively to this service. <br><br>
Sans Boutique will not be held accountable for the misjudged arrival of items and the stated time frame provides an indication only. Please be aware that garments bought online over the weekend or on a Public Holiday may take an extra day or two for processing and delivery. We do not accept cancellations once your order is processed.<br>

<br><p id="cost">LOST PACKAGES</p>
</ul>
<p>If any packages are completely lost in transit during the course of our delivery, we will replace or refund the item if shipped nationally. </p>
<p>A claim would need to be lodged via the courier company and we would advise you of the result of the investigation. Once declared lost and undeliverable we can close the unfulfilled order with a refund to your preferred account.</p>
<p>f you are returning an item to us, please know that we do not take any responsibility for items lost in the post. We recommend a track and trace method to ensure this doesn't happen; your garment cannot be processed for an exchange or a refund if we do not receive it.</p>
<p>Thanks! x</p>
   </div>


  </div>

</div>
{% endblock %}
